<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>To do list</h2>
                    </div>    
                </div>
            </div>
            <ng-container *ngIf="(appState$ | async) as appState">
                <ng-container>
                    <table class="table table-striped table-hover" id="toDos">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>description</th>
                                <th>status</th>
                                <th>date of creation</th>
                                <th>to do Date</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let toDo of appState.appData; let i = index">
                            <td>{{ toDo.name }}</td>
                            <td>{{ toDo.description }}</td>
                            <td>{{ toDo.status }}</td>
                            <td>{{ toDo.dateOfCreation }}</td>
                            <td>{{ toDo.toDoDate }}</td>
                        </tbody>
                    </table>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>